{{link-to 'Back to list of orgs' 'orgs'}}
{{log model}}
<h4>{{model.name}} <a href='{{model.html_url}}' target='_blank'>Github</a></h4>

<img src='{{model.avatar_url}}' alt='avatar url' class='avatar_url' height='48'>

<ul>
  {{#each items as |item|}}
    <li>{{item.id}}</li>
  {{/each}}
</ul>

{{outlet}}
